* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    font-family: "Arial", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: seashell;
    gap: 20px;
}

body h1 {
    font-size: 36px;
}

.rps-box {
    display: flex;
    gap: 20px;
}

.rps-box button {
    box-sizing: border-box;
    padding: 50px;
    font-size: 36px;
    border-radius: 10px;
    cursor: pointer;
}

.score {
    display: flex;
    gap: 15px;
}
